<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">

    <title>Document</title>
</head>
<body id="body">
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center animate__animated animate__fadeIn">اختر الأختبارات المناسبه</h1>
            </div>
        </div>

    </div>
    <div class="container mt-5">
        <div class="slider-container">
            
            <img class="slider-img active" src="test1.jpeg" alt="test1.jpeg">
            <img class="slider-img" src="test2.jpeg" alt="test2.jpeg">
            <img class="slider-img" src="test3.jpeg" alt="test3.jpeg">
            <img class="slider-img" src="test4.jpeg" alt="test4.jpeg">
            <img class="slider-img" src="test5.jpeg" alt="test5.jpeg">
            <img class="slider-img" src="test6.jpeg" alt="test6.jpeg">
            <img class="slider-img" src="test7.jpeg" alt="test7.jpeg">
            <img class="slider-img" src="test8.jpeg" alt="test8.jpeg">
            <img class="slider-img" src="test9.jpeg" alt="test9.jpeg">
            <img class="slider-img" src="test10.jpeg" alt="test10.jpeg">
            <img class="slider-img" src="test11.jpeg" alt="test11.jpeg">
            <img class="slider-img" src="test12.jpeg" alt="test12.jpeg">
            <img class="slider-img" src="test13.jpeg" alt="test13.jpeg">
            <img class="slider-img" src="test14.jpeg" alt="test14.jpeg">
            <img class="slider-img" src="test15.jpeg" alt="test15.jpeg">
            <img class="slider-img" src="test16.jpeg" alt="test16.jpeg">
            <img class="slider-img" src="test17.jpeg" alt="test17.jpeg">
            <img class="slider-img" src="test18.jpeg" alt="test18.jpeg">
            <img class="slider-img" src="test19.jpeg" alt="test19.jpeg">
            <img class="slider-img" src="test20.jpeg" alt="test20.jpeg">
            <img class="slider-img" src="test21.jpeg" alt="test21.jpeg">
            <img class="slider-img" src="test22.jpeg" alt="test22.jpeg">
            <img class="slider-img" src="test23.jpeg" alt="test23.jpeg">
            <img class="slider-img" src="test24.jpeg" alt="test24.jpeg">
            <img class="slider-img" src="test25.jpeg" alt="test25.jpeg">
            <img class="slider-img" src="test26.jpeg" alt="test26.jpeg">
            <img class="slider-img" src="test27.jpeg" alt="test27.jpeg">
            <img class="slider-img" src="test28.jpeg" alt="test28.jpeg">
            <img class="slider-img" src="test29.jpeg" alt="test29.jpeg">
            <img class="slider-img" src="test30.jpeg" alt="test30.jpeg">
            <img class="slider-img" src="test31.jpeg" alt="test31.jpeg">
            <img class="slider-img" src="test32.jpeg" alt="test32.jpeg">
            <img class="slider-img" src="test33.jpeg" alt="test33.jpeg">
            
            <div class="slider-buttons">
                <button class="btn btn-primary" onclick="changeSlide(-1)">السابق</button>
                <button class="btn btn-primary" onclick="changeSlide(1)">التالي</button>
            </div>
            
        </div>
    </div>
    
    <form action="" class="form">
        <label for="Checkbox">اختار</label>
        <input id="checkbox" type="checkbox" name="Checkbox">
        <input type="button" name="done" onclick="send()" value="انهاء">
    </form>
    <script src="./script.js"></script>
</body>
</html>