@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
*{
    font-family: Cairo;
}
body{
    background-color: #FFC5C5; 
}
.logo{
    width: 15%;
}
@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.logo:hover {
    animation: rotate360 1.5s linear infinite;
}
.contant{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.three_bears{
    height: 75%;
    width: 45%;
    border-radius: 15px;
}

.slider-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    background-color: red;
}

.slider-img {
    position: absolute;
    display: none;
    width: 50%;
}

.slider-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.active{
    margin-right:150px;
    margin-top:50px;
    display:block;
    align-items: center;
    justify-content: center;
}
.form{
    font-size: 3vh;
    font-weight: 800;
    margin-top: 550px;
    margin-right: 550px;
}
.form input{
    margin: 35px;
}
.test{
    position: absolute;
    right: 50%;
    bottom: 20%;
    transform: translate(50% , 50%);
    width: 50%;
    height: 90%;
}
#canvas-container{
    position: relative;
    width: 30%;
    height: 500px;
    top: 50%;
    right: 30%;
    transform: translate(-20% , -30%);
    background-color: red;
    background-image: url(test2.jpeg);
    background-size: cover;
}
#drawing-canvas{
    position: relative;
}